.chart div {
	font-family: Helvetica, Arial, sans-serif;
	font: 12px;
	background-color: steelblue;
	height: 3em;
	text-align: right;
	padding: 3px;
	margin: 1px;
	color: white;
}

.time_input {
	font-family: Helvetica,Arial,sans-serif;
	display: inline-block;
	font-size: 1em;
}

.title {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 1.466em;
	margin-bottom: 4px;
}

.ui-spinner {
	width: 3.2em;
}

#spinner {
	width:1.9em;
	text-align: right;
}